*{
    background-image: lightgrey;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
}

.info_box {
    width:50rem;
    height:12rem;
    left:20%;
    top:100px;
    background-color: blue;
    position: relative;
    font-size: 2em;
    text-align: center;

}
/* 
.info-title{
    font-size: 2em;
    position: absolute;
    top:-40%;
    left: 40%;
    transform: translate(-50%, 200%);
}

.info-text{
    position: absolute;
    top: 5rem;
} */

.startbtn{
    position: absolute;
    top:20rem;
    left:45%;
}

#score{
    position: absolute;
    top:0px;
    left:0%;
}

#time{
    position: absolute;
    top:0px;
    left:80%;
}


